a {
    color: #ffffff;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #ffffff;
        text-decoration: none;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
    .btn-success:focus, .btn-success.focus {
        color: #fff;
        background-color: #449d44;
        border-color: #76d776;
        border-style: double;
    }

    .btn-success:hover{
        background-color:forestgreen;
    }

.container-fluid {
    padding: 1.5em;
    border-radius: 3%;
    margin-top:2em;
}

